/*
=============== 
Variables
===============
*/
$base-color-1: #e2edee;
$base-color-2: #f5f4f4;
$base-color-3: white;
$text-color-1: #707070;
$text-color-2: white;
$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
$transition: all 0.3s linear;
$spacing: 0.2rem;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $base-color-1;
  color: $text-color-1;
  font-family: $ff-primary;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: 5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*
=============== 
Navbar
===============
*/
.navbar {
  align-items: center;
  display: flex;
  height: 5rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.nav-center {
  margin: 0 auto;
  max-width: 1170px;
  width: 90vw;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.toggle-btn:hover {
  color: var(--clr-primary-2);
}

.nav-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
  }

  .nav-links li {
    margin-right: 2rem;
  }

  .nav-links a {
    color: $text-color-1;
    display: inline-block;
    font-weight: bold;
    letter-spacing: $spacing;
    padding: 0.5rem 0;
    text-transform: capitalize;
    transition: $transition;
  }

  .nav-links a:hover {
    transform: rotate(10deg);
    opacity: 0.8;
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background: transparent;
  }
}
